<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>add paper</title>
	</head>
	<body>
		{% if addpaperform %}
		<p>
			tips: 2009-12-09 21:36:35
		</p>
		<form action="" method="post">
			{% csrf_token %}
			<legend>add Paper</legend>
			<table>
				{{addpaperform.as_table}}
			</table>
			<input type="submit" value="Submit" />
		</form>
		{% endif %}
		
		{%if questions%}
		<form action="" method="post">
			{% for q in questions %}
			<label><input type="checkbox" name="questions" value="{{q.content}}"/>{{q.content}}</label><br />
			{% endfor %}
			<input type="hidden" name="pname" value="{{pname}}" />
			<input type="submit" value="Submit" />
		</form>
		{% endif %}
		
		{% if msg%}
		<p>{{msg}}</p>
		{% endif %}
		
		<div>
			<a href="/teacherhome/">back to home</a>
		</div>
		
	</body>
</html>