<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>edit questions</title>
	</head>
	<body>
		<div>
		{% if form %}
		<form action="" method="post">
			{% csrf_token %}
			<legend>edit Questions</legend>
			<table>
				{{form}}
			</table>
			<input type="submit" value="Submit" />
		</form>
		{% else %}	
			<p>{{msg}}</p>
		{% endif %}
		</div>
		
		<div>
			<a href="/viewquestion/">back to edit others</a>
		</div>

		<div>
			<a href="/teacherhome/">back to home</a>
		</div>
		
	</body>
</html>